uvicorn==0.17.0
python-decouple==3.5
asgiref==3.4.1
Flask==2.1.2
pytest-playwright==0.3.0
loguru~=0.6.0
playwright~=1.25.1
motor~=3.0.0
aioflask~=0.4.0
Flask-Cors==3.0.10
python-dotenv==0.20.0
dnspython==2.2.1